html, body {
    height: 100%;
    margin: 0;
}

body #__next {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
}

.column {
    padding-left: calc(2vw + 10px);
    padding-right: calc(2vw + 10px);
}

ul, li {
   margin: 0;
}
